<!DOCTYPE html>

<html lang="en">

<head>
    <%- include("partials/head-default.ejs") %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="node_modules/chess.js/chess.js"></script>
    <script src="public/js/chessboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="public/css/chessboard.css"/>
    <link rel="stylesheet" href="public/css/custom.css"/>
    <script src="public/js/data-collection.js"></script>

    <title>Collect data</title>
</head>

<body>
<%- include("partials/navbar-default.ejs") %>

<div class="container">
    <div class="row">

        <div class="col-sm">
            <div>
                <div id="myBoard" style="width: 100%"></div>
            </div>
        </div>
        <div class="col-sm">
            <div>
                <h1 class="display-6">Game Status: <span id="status"></span> </h1>

                <div id="message" class="smessage">
                    <img src="public/images/voice_loaderrr.gif" width="200" alt="recording"/>
                </div>

<!--                <div class="bottom-00">-->
<!--                    <label>PGN:</label>-->
<!--                    <div id="pgn"></div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>



    <div class="container">


        <pre class="board"></pre>

        <section class="sound-clips"></section>


    </div>


</body>

</html>