<!DOCTYPE html>

<html lang="en">

<head>
    <%- include("partials/head-default.ejs") %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="node_modules/chess.js/chess.js"></script>
    <script src="node_modules/@chrisoakman/chessboardjs/dist/chessboard-1.0.0.js"></script>

    <script src="public/js/collect-data.js"></script>

    <link rel="stylesheet" href="node_modules/@chrisoakman/chessboardjs/dist/chessboard-1.0.0.min.css"/>
    <link rel="stylesheet" href="public/css/custom.css"/>



    <title>Contribute</title>
</head>

<body>

    <%- include("partials/navbar-default.ejs") %>

    <div class="container">

        <div id="myBoard" style="width: 400px"></div>
        <label>Status:</label>
        <div id="status"></div>
        <label>PGN:</label>
        <div id="pgn"></div>

                <p>Please record yourself saying the move signalled with the green arrow.</p>
        <p>the chess board</p>

        <pre class="board"></pre>


        <div>
            <button class="button_record" >Record</button>
        </div>

        <section class="sound-clips"></section>


    </div>


</body>

</html>