<!DOCTYPE html>

<html lang="en">

<head>
    <%- include("partials/head-default.ejs") %>
    <title>Collect data</title>
</head>

<body>

<%- include("partials/navbar-default.ejs") %>

<div class="container">

    <h1>Here we will collect data!</h1>
    <a href="/data/new">Play a move</a>

</div>


</body>

</html>