<!DOCTYPE html>

<html lang="en">

<head>
    <%- include("partials/head-default.ejs") %>
    <script src="/js/data-collection.js"></script>
    <title>Collect data</title>
</head>

<body>

    <%- include("partials/navbar-default.ejs") %>

    <div class="container">

        <p>Please record yourself saying the move signalled with the green arrow.</p>
        <p>the chess board</p>

        <p class="board"></p>

        <div>
            <button class="button_start" >Start</button>
            <button class="button_stop">Stop</button>
        </div>

        <section class="sound-clips"></section>


    </div>


</body>

</html>