<!DOCTYPE html>

<html lang="en">

<head>
    <%- include("partials/head-default.ejs") %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="node_modules/chess.js/chess.js"></script>
    <script src="public/js/chessboard.js"></script>

    <script src="public/js/collect-data.js"></script>


    <link rel="stylesheet" href="public/css/chessboard.css"/>
    <link rel="stylesheet" href="public/css/custom.css"/>



    <title>Contribute</title>
</head>

<body>
<%- include("partials/navbar-default.ejs") %>

<div class="container">
    <div class="row">

        <div class="col-sm">
            <div>
                <div id="myBoard" style="width: 100%"></div>
            </div>
        </div>
        <div class="col-sm">
            <div>
                <h1 class="display-5">Game Status</h1>
<!--                <label>Status:</label>-->
                <p id="status"></p>

                <div class="bottom-00">
                    <label>PGN:</label>
                    <div id="pgn"></div>
                </div>
            </div>
        </div>
    </div>
</div>



    <div class="container">




                <p>Please record yourself saying the move signalled with the green arrow.</p>
        <p>the chess board</p>

        <pre class="board"></pre>


        <div>
            <button class="button_record" >Record</button>
        </div>

        <section class="sound-clips"></section>


    </div>


</body>

</html>