<!DOCTYPE html>

<html lang="en">

<head>
    <%- include("partials/head-default.ejs") %>
    <title>Home</title>
</head>

<body>

    <%- include("partials/navbar-default.ejs") %>

    <div class="container">

    <h1>Why doesnt it work?</h1>
    <p>Alrgiht I guess it works</p>

    </div>


</body>

</html>