<!DOCTYPE html>

<html lang="en">

<head>
    <%- include("partials/head-default.ejs") %>
</head>

<body>

    <%- include("partials/navbar-default.ejs") %>

    <div class="container">

    <h1>Why doesnt it work?</h1>
    <p>Alrgiht I guess it works</p>
    <p>Tried out the thing. <%=num%>  </p>

    <% if (num % 2 === 0) { %>
        <h1>It is even</h1>
    <% } else { %>
        <h1>It is odd</h1>
    <% } %>

    </div>


</body>

</html>