<!DOCTYPE html>

<html lang="en">

<head>
    <%- include("partials/head-default.ejs") %>
    <title>MindChess | Home</title>
</head>

<body>

    <%- include("partials/navbar-default.ejs") %>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="padded" >
                <h1 class="display-5">Play chess with your voice!</h1>
                <p> MindChess enables you to play your favourite game hands free!
                    You can now play when you bike, do the dishes or you simply want to
                    enjoy blindfold chess experience. Our voice recognition system is developed
                    specifically for all the possible commands you might need to play the game, but
                    you would help us a lot by contributing your audio data to improve our system. </p>
                </div>
            </div>
            <div class="col-sm">
                <a href="https://ibb.co/Qb2XPYT"><img src="https://i.ibb.co/h7PCB24/Screen-Shot-2021-04-27-at-13-31-32.png" alt="Screen-Shot-2021-04-27-at-13-31-32" border="0"></a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="https://ibb.co/T0CmF9M"><img src="https://i.ibb.co/B61qS02/Beth.png" alt="Beth" border="0"></a>
            </div>
            <div class="col-sm">
                <div class="padded" >
                    <h1 class="display-5">Blindfold chess experience</h1>
                    <p> Blindfold chess is a great way to exercise your memory, improve your visualization skills and master your chess game. With our app you can do just that by playing chess with your voice only, without looking at the board. And yes, we are the masters of marketing. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-sm">
                <div class="padded" >
                    <h1 class="display-5">Get it soon on both platforms!</h1>
                    <p>Our app will be public very soon, maybe even this decade.
                        Right now we are in gamma phase of testing. We will call you directly once it's released.</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="paddedLess">
                <a href="https://ibb.co/yyZ28KQ"><img src="https://i.ibb.co/3NjK0VC/pngegg-1.png" alt="Download" width="300" border="0"></a><br /><a target='_blank' href='https://da.imgbb.com/'></a><br />
                </div>
            </div>
        </div>
    </div>

</body>

</html>

