<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>

    <h1>Why doesnt it work?</h1>
    <p>Alrgiht I guess it works</p>
    <p>Tried out the thing. <%=5+5%>  </p>

</body>

</html>