<!DOCTYPE html>

<html lang="en">

<head>
    <%- include("partials/head-default.ejs") %>

    <title>Recorded Clips</title>
</head>

<body>

<%- include("partials/navbar-default.ejs") %>

<div class="container">

    <h3 class="display-5">With your contribution, we have recordings of the following moves!</h3>

    <div class="col-sm">
        <ul>
            <% for (let key of Object.keys(stored_spokenmoves)) { %>
                <li>
                    <%= key %> => <%= stored_spokenmoves[key] %>x
                </li>

            <% } %>
        </ul>
    </div>

<!--    <div class="col-sm">-->
<!--        <img src="public/images/voice_loaderrr.gif" width="160" alt="recording"/>-->
<!--    </div>-->




    </div>




</div>


</body>

</html>