<!DOCTYPE html>

<html lang="en">

<head>
    <%- include("partials/head-default.ejs") %>

    <title>Recorded Clips</title>
</head>

<body>

<%- include("partials/navbar-default.ejs") %>

<div class="container">

    <h1>Here is the data!</h1>


    <% for (file of files) { %>

        <% console.log(file) %>

        <article class="clip">
            <p><%= file.filename.split("-")[0] %></p>
            <audio controls src="http://localhost:3000/98d750d7-cde3-4aeb-a95b-6fda48a03641"></audio>
        </article>


    <% } %>



</div>


</body>

</html>