<!DOCTYPE html>

<html lang="en">

<head>
    <%- include("partials/head-default.ejs") %>

    <title>Recorded Clips</title>
</head>

<body>

<%- include("partials/navbar-default.ejs") %>

<div class="container">

    <h1>Here is the data!</h1>

    <ul>
        <% for (let entry of files) { %>

            <article class="clip">
                <p><%= entry.filename.split("-")[0] %></p>
                <audio controls='true' src=<%=  %>>
                </audio>

            </article>

        <% } %>
    </ul>

</div>


</body>

</html>