.bg-dark {
    background-color: #000000!important;
}

body{
    background-color: #121212;
    color: white;
}

.padded {
    padding-top: 40%;
}

.paddedLess{
    padding-top: 35%;
    margin-left: 20%;
    margin-bottom: 40%;
}
